body {
  font-family: 'Chakra Petch', sans-serif;
}

.root {
  height: 100vh;
  width: 100vw;
}

img {
  border: 2px solid #ffffff; 
}

.App {
  text-align: center;
}

.bigHeading {
  background-color: white;
  color: #A30000;
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
}