body {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

img {
  border: 2px solid white; 
}

.bigHeading {
  background-color: white;
  color: #A30000;
  font-size: 5em;
  margin-top: 10px;
  margin-bottom: 10px;
}