.movie-card {
  display: flex;
  color: #A30000;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: .1em;
  padding: .1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100%;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .1em; 
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding: .1em;
}

.poster {
  max-width: 90%;
  height: auto;
  margin-right: .1em;
  align-self: center; 
}

.tagline {
  font-style: italic;
  margin-bottom: .1em;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
}

.release-date,
.average-rating {
  font-size: .9em;
  margin-top: .05em;
}

.overview {
  margin-top: .1em;
}

.details-wrap {
  display: flex;
  padding: .5em;
}

nav {
  border: solid;
  border-radius: 5px;
  color: #004777;
  align-self: center;
}

iframe {
  align-self: center;
}

/* tablet */
@media screen and (max-width: 900px) {
  .details-wrap {
    flex-direction: column;
    align-items: center;
  }
  .left-container, .right-container {
    width: 50%;
  }
  iframe {
    height: 50%;
    width: 89%;
  }
}

/* mobile */
@media screen and (max-width: 500px) {
  .details-wrap {
    display: block;
  }
  .left-container, .right-container {
    width: 100%;
  }
  iframe {
    height: 50%;
    width: 89%;
  }
}