main {
  background-color: #EFD28D;
}

.movie-card {
  display: flex;
  color: #A30000;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: .1em;
  padding: .1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .1em; 
}

.right-container {
  flex: 2;
  padding: .1em;
}

.poster {
  max-width: 100%;
  height: auto;
  margin-right: .1em;
  align-self: flex-start; /* Align the image to the top of the left container */
}

.tagline {
  font-style: italic;
  margin-bottom: .1em;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
}

.release-date,
.average-rating {
  font-size: .9em;
  margin-top: .05em;
}

.overview {
  margin-top: .1em;
}

.details-wrap {
  display: flex;
}

nav {
  align-self: center;
}