.movie-card {
  display: flex;
  color: #A30000;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100%;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
}

.right-container {
  flex: 2;
  padding: 10px;
}

.poster {
  max-width: 150px; /* Adjust the max-width to make the image smaller */
  height: auto;
  margin-right: 20px;
  align-self: flex-start; /* Align the image to the top of the left container */
}

.tagline {
  font-style: italic;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.release-date,
.average-rating {
  font-size: 16px;
  margin-top: 5px;
}

.overview {
  margin-top: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #004777;
  color: white;
  border: none;
  border-radius: 5px;
}
